<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home/home.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>ConstraintHome</display-name>
        <web-resource-collection>
            <web-resource-name>home</web-resource-name>
            <description/>
            <url-pattern>/home/*</url-pattern>
            <url-pattern>/resources/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>cliente_lectura</role-name>
            <role-name>cliente_edicion</role-name>
            <role-name>prestamos_lectura</role-name>
            <role-name>prestamos_edicion</role-name>
            <role-name>prestamos_imprime_pagare</role-name>
            <role-name>prestamos_confirma_pagare</role-name>
            <role-name>prestamos_cancela_pagare</role-name>
            <role-name>prestamos_desembolsa</role-name>
            <role-name>cobro_cuota</role-name>
            <role-name>configuraciones</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintAdm</display-name>
        <web-resource-collection>
            <web-resource-name>adm</web-resource-name>
            <description/>
            <url-pattern>/adm/moneda/*</url-pattern>
            <url-pattern>/adm/categoria/*</url-pattern>
            <url-pattern>/adm/cotizacion/*</url-pattern>
            <url-pattern>/adm/empresa/*</url-pattern>
            <url-pattern>/adm/sucursal/*</url-pattern>
            <url-pattern>/adm/impuestoIVA/*</url-pattern>
            <url-pattern>/adm/usuario/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>configuraciones</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintClienteLectura</display-name>
        <web-resource-collection>
            <web-resource-name>clienteLectura</web-resource-name>
            <description/>
            <url-pattern>/adm/cliente/List.xhtml</url-pattern>
            <url-pattern>/adm/cliente/View.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>cliente_lectura</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintClienteEdicion</display-name>
        <web-resource-collection>
            <web-resource-name>clienteEdicion</web-resource-name>
            <description/>
            <url-pattern>/adm/cliente/Edit.xhtml</url-pattern>
            <url-pattern>/adm/cliente/List.xhtml</url-pattern>
            <url-pattern>/adm/cliente/Create.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>cliente_edicion</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintPrestamoLectura</display-name>
        <web-resource-collection>
            <web-resource-name>PrestamoLectura</web-resource-name>
            <description/>
            <url-pattern>/prestamos/prestamo/List.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>prestamos_lectura</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintPrestamoEdicion</display-name>
        <web-resource-collection>
            <web-resource-name>PrestamoEdicion</web-resource-name>
            <description/>
            <url-pattern>/prestamos/prestamo/List.xhtml</url-pattern>
            <url-pattern>/prestamos/prestamo/Create.xhtml</url-pattern>
            <url-pattern>/prestamos/prestamo/Edit.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>prestamos_edicion</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintCobroCuota</display-name>
        <web-resource-collection>
            <web-resource-name>CobroCuota</web-resource-name>
            <description/>
            <url-pattern>/cobraCuota/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>cobro_cuota</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintDesembolsa</display-name>
        <web-resource-collection>
            <web-resource-name>Desembolsa</web-resource-name>
            <description/>
            <url-pattern>/prestamos/prestamo/Desembolsar.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>prestamos_desembolsa</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintImprimePagare</display-name>
        <web-resource-collection>
            <web-resource-name>ImprimePagare</web-resource-name>
            <description/>
            <url-pattern>/prestamos/prestamo/List.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>prestamos_imprime_pagare</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintConfirmaPagare</display-name>
        <web-resource-collection>
            <web-resource-name>ConfirmaPagare</web-resource-name>
            <description/>
            <url-pattern>/prestamos/prestamo/List.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>prestamos_confirma_pagare</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintCacelaPagare</display-name>
        <web-resource-collection>
            <web-resource-name>CancelaPagare</web-resource-name>
            <description/>
            <url-pattern>/prestamos/prestamo/List.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>configuraciones</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintAgendaCobro</display-name>
        <web-resource-collection>
            <web-resource-name>AgendoCobro</web-resource-name>
            <description/>
            <url-pattern>/prestamos/prestamo/agendaCobros.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>agenda_cobro</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintEstadoCuenta</display-name>
        <web-resource-collection>
            <web-resource-name>EstadoCuenta</web-resource-name>
            <description/>
            <url-pattern>/prestamos/prestamo/estadoCuenta.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>estado_cuenta</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintInformes</display-name>
        <web-resource-collection>
            <web-resource-name>informes</web-resource-name>
            <description/>
            <url-pattern>/prestamos/informes/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>informes</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ConstraintContanilidad</display-name>
        <web-resource-collection>
            <web-resource-name>Contabilidad</web-resource-name>
            <description/>
            <url-pattern>/contabilidad/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>contabilidad</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>prestamosJDBC</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <error-page>
        <error-code>403</error-code>
        <location>/sinpermiso.xhtml</location>
    </error-page>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>cliente_lectura</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>cliente_edicion</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>prestamos_lectura</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>prestamos_edicion</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>prestamos_imprime_pagare</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>prestamos_confirma_pagare</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>prestamos_cancela_pagare</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>prestamos_desembolsa</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>cobro_cuota</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>configuraciones</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>agenda_cobro</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>estado_cuenta</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>informes</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>contabilidad</role-name>
    </security-role>
</web-app>
